#gameOver {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  #gameOver h2,
  #gameOver p {
    margin-bottom: 1rem;
  }
  
  #gameOver p {
    color: #fefdff;
  }
  
  #gameOver img {
    margin: 2rem auto;
    height: 200px;
  }